body {
  background-color: rgb(6, 34, 46);
  margin-left: 200px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 5px;
}

.linkActive {
  text-decoration: underline;
}
.linkInactive {
  text-decoration: none;
}

/* bin2dec */
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.content * {
  margin: 3px;
}

button {
  background-color:#4CAF50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #113f11;
  transition: all 0.8s;
}

.alert {
  display: inline-block;
  align-self: stretch;
  margin-top: auto;
}

/* borderRadiusPreeviewer */
.radiousPreview {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radiusChangeWindow {
  display: flex;  
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.radiusChangeWindow input {
  width: 100px;
}

.grid-header2 {
  grid-column-start: 2;
}
.grid-header3 {
  grid-column-start: 3;
}
.grid-button {
  grid-column: 2 / 4;
  justify-self: center;
}
.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 10%;
}
.grid label:not(.grid-header2, .grid-header3) {
  justify-self: end;
}